* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f6f8;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 20px;
  padding: 14px 32px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo img {
  width: 44px;
}

/* Navigation */
.nav {
  display: flex;
  gap: 26px;
}

.nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 4px;
}

.search input {
  border: none;
  outline: none;
  width: 280px;
}

.search button {
  border: none;
  background: #2563eb;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
}

/* Actions */
.actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart {
  font-size: 1.4rem;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {
  .header {
    grid-template-columns: auto auto auto;
  }

  .nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    border-top: 1px solid #e5e7eb;
  }

  .nav a {
    padding: 14px 24px;
    border-bottom: 1px solid #e5e7eb;
  }

  .nav.show {
    display: flex;
  }

  .search {
   width: 100px;
   border: 1px solid #d1d5db;
  }
  .search button{
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* Carousel */
.carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-inner img {
    height: 300px;
  }
}
